:root {
    --md-primary-fg-color:        #0052aa;
    --md-primary-fg-color--light: #0052aa;
    --md-primary-fg-color--dark:  #0052aa;
    --md-accent-fg-color:      #0052aa;
    --md-accent-fg-color--transparent:    #0052aa;
}